insmod gfxterm
insmod png
insmod font
set gfxmode=auto
keep_kernel_video=yes
set gfxpayload=keep
insmod gfxmenu

loadfont ($root)/boot/grub/themes/inter_menu.pf2
loadfont ($root)/boot/grub/themes/inter_title.pf2
terminal_output gfxterm

set theme=($root)/boot/grub/themes/theme.txt
export theme

set timeout=15
set default=0

menuentry "Booting to NacaratOS" {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux-zen archisobasedir=arch archisolabel=NACARAT cow_spacesize=10G modern
    initrd /arch/boot/x86_64/initramfs-linux-zen.img
}

menuentry "Booting to NacaratOS with NVIDIA drivers" {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux-zen archisobasedir=arch archisolabel=NACARAT cow_spacesize=10G nvidia.modeset=1 modern
    initrd /arch/boot/x86_64/initramfs-linux-zen.img
}

menuentry "NacaratOS with Hardware Detection" {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux-zen archisobasedir=arch archisolabel=NACARAT cow_spacesize=10G nomodeset modern
    initrd /arch/boot/x86_64/initramfs-linux-zen.img
}

menuentry "Restart" {
    reboot
}

menuentry "Shutdown" {
    halt
}
